.social {
  filter: drop-shadow(0 0 1px #ff3e00) drop-shadow(0 0 1px #ff3e00);
}

.social-img {
  width: min(10vw, 12vh);
  max-width: 58px;
}

.social:hover {
  filter: drop-shadow(0 4px 2px #1823f1) drop-shadow(0 -4px 2px #1823f1);
}

h1 {
  filter: drop-shadow(0 4px 2px #1823f1);
  box-shadow: 0px 4px 2px -2px #8992ff;
}

.mememe {
  line-height: 1.8;
  font-size: 1.2rem;
}
