:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: min(4vw, 15px);
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #01051d;
  color: #ffffff;
}

.pages {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3rem;
}

.pages .pages-item {
  height: 100%;
  position: relative;
}

.pages .pages-item.active {
  box-shadow: 0 4px 2px -2px #ff3e00;
}

.pages .pages-item:not(.active):hover {
  filter: drop-shadow(0 4px 2px #1823f1) drop-shadow(0 -4px 2px #1823f1);
  box-shadow: 0 4px 2px -2px #1823f1;
}

.pages .pages-item .pages-item-link {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  height: 100%;
  letter-spacing: 0.1em;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin: 6px;
}

.copyright {
  opacity: 0.6;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.filter-transition {
  -webkit-transition: 500ms -webkit-filter ease;
  -moz-transition: 500ms -moz-filter ease;
  -moz-transition: 500ms filter ease;
  -ms-transition: 500ms -ms-filter ease;
  -o-transition: 500ms -o-filter ease;
  transition: 500ms filter ease, 500ms -webkit-filter ease;
}

.box-shadow-transition {
  -webkit-transition: 500ms -webkit-box-shadow ease;
  -moz-transition: 500ms -moz-box-shadow ease;
  -moz-transition: 500ms box-shadow ease;
  -ms-transition: 500ms -ms-box-shadow ease;
  -o-transition: 500ms -o-box-shadow ease;
  transition: 500ms box-shadow ease;
}

.transform-transition {
  -webkit-transition: 500ms -webkit-transform ease;
  -o-transition: 500ms transform ease;
  transition: 500ms transform ease;
  transition: 500ms -webkit-transform ease;
  transition: 500ms transform ease, 500ms -webkit-transform ease;
}

.box-shadow-transform-transition {
  -webkit-transition: 500ms -webkit-transform ease,
    500ms -webkit-box-shadow ease;
  transition: 500ms -webkit-transform ease, 500ms -webkit-box-shadow ease;
  -o-transition: 500ms transform ease, 500ms box-shadow ease;
  transition: 500ms transform ease, 500ms box-shadow ease;
  transition: 500ms transform ease, 500ms box-shadow ease,
    500ms -webkit-transform ease, 500ms -webkit-box-shadow ease;
}

.p-sm {
  padding: 0.5em;
}
.p-md {
  padding: 1em;
}
.p-lg {
  padding: 2em;
}

.m-sm {
  margin: 0.5em;
}
.m-y-md {
  margin-top: 1em;
  margin-bottom: 1em;
}
.m-t-md {
  margin-top: 1em;
}
.m-t-lg {
  margin-top: 2em;
}
.m-auto {
  margin: auto;
}
.m-l-auto {
  margin-left: auto;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.grid {
  display: grid;
}
.grid-gap-sm {
  gap: 1rem;
}
.grid-gap-md {
  gap: 1.5rem;
}
.grid-gap-lg {
  gap: 2rem;
}

@media (min-width: 1024px) {
  .lg-max-w-l {
    max-width: 64rem;
  }
}

@media (min-width: 800px) {
  .sm-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.text-center {
  text-align: center;
}
